[submodule "data-plane/container-sdx-lc"]
	path = data-plane/container-sdx-lc
	url = https://github.com/atlanticwave-sdx/sdx-lc
	branch = main
[submodule "container-sdx-lc"]
	branch = validation
[submodule "data-plane/container-sdx-controller"]
	path = data-plane/container-sdx-controller
	url = https://github.com/atlanticwave-sdx/sdx-controller
	branch = main
[submodule "container-sdx-controller"]
	branch = validation
[submodule "data-plane/container-kytos-sdx-topology"]
	path = data-plane/container-kytos-sdx-topology
	url = https://github.com/atlanticwave-sdx/kytos-sdx-topology
	branch = main
[submodule "data-plane/container-sdx-meican"]
	path = data-plane/container-sdx-meican
	url = https://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@github.com/atlanticwave-sdx/sdx-meican
	branch = main
