[submodule "data-plane/container-sdx-controller/sdx-controller"]
	path = data-plane/container-sdx-controller/sdx-controller
	url = https://github.com/atlanticwave-sdx/sdx-controller
	branch = main
[submodule "data-plane/container-sdx-lc/sdx-lc"]
	path = data-plane/container-sdx-lc/sdx-lc
	url = https://github.com/atlanticwave-sdx/sdx-lc
	branch = integration
	merge = refs/heads/integration
[submodule "data-plane/container-kytos-sdx-topology"]
	path = data-plane/container-kytos-sdx-topology
	url = https://github.com/atlanticwave-sdx/kytos-sdx-topology
	branch = luisdev
	merge = refs/heads/luisdev
